{% extends 'visio/base.html' %}
<!-- {% load static %} -->

{% block content %}
  <header>
    <aside class="dataLogin">
      <p>{{ userName }}</p>
      <form method=get action="{% url 'visio:performances' %}">
        {% csrf_token %}
        <input type="submit" name="action" value="disconnect"/>
      </form>
    </aside>
  </header>
  <section>
    <p>Performances</p>
    <form method=get action="{% url 'visio:performances' %}">
      {% csrf_token %}
      <input type="submit" name="action" value="Vider la base de données"/>
      <input type="submit" name="action" value="Remplir la base de données"/>
    </form>
    <p>{{ message }}</p>
  </section>
{% endblock %}