<html  lang="fr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'visio/img/header.ico' %}" type="image/x-icon">
    <title>Visio Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'visio/css/general.css' %}" />
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>