{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="backgroundImage">
  <section class="loginSection">
    <article class="loginArticle">
      <h1 class="colorSiniat">Visio Admin</h1>
      <div class="loginBox">
        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <p class="loginBoxP"><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
          <p class="loginBoxP">Vous n'êtes pas connecté(e)</p>
          <a class="loginBoxLink" href="{% url 'login' %}">Log In</a>
        {% endif %}
      </div>
    </article>
  </section>
  <img class="logo" src="{% static 'visio/img/logoAppli.png' %}" alt="Logo Visio" title="Logo Visio"/>
</main>
{% endblock %}